footer
{
    padding: 40px 0;
    background-color: #01144a;
    color: #fff;
    margin-top: 30px;
    .footer_title
    {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: .5px;
        text-transform: uppercase;
        margin-bottom: 40px;
        position: relative;
        &::after
        {
            content: "";
            display: block;
            height: 3px;
            width: 60px;
            background-color: #ff6119;
            position: absolute;
            top: 30px;
            left: 0;
        }
    }
    p 
    {
        margin: 20px 0;
    }
    .btn_footer
    {
        cursor: pointer;
        padding: 0 20px;
        height: 50px;
        font-size: 16px;
        background-color: #ff6119;
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        i 
        {
            padding-left: 10px;
            font-size: 18px;
        }
    }
    .list_footer
    {
        li 
        {
            padding-bottom: 20px;
            i 
            {
                font-size: 10px;
                padding-right: 10px;
            }
            &:hover 
            {
                color: #ff6119;
                transition: .3s ease-in-out;
                transform: translateX(7px);
            }
        }
    }
    .form_footer
    {
        position: relative;

        input 
        {
            height: 50px;
            padding: 0 20px;
            border: none;
            width: 300px;
            outline: none;
        }
        button 
        {
            position: absolute;
            width: 50px;
            text-align: center;
            font-size: 20px;
            color: #ffffff;
            background: #ff6119;
            display: inline-block;
            top: 0;
            line-height: 48px;
            border: 1px solid #ff6119;
        }
    }
    .flex-start
    {
        justify-content: flex-start;
        margin-top: 40px;
    }
    .scrollup
    {
        background-color: #ff6119;
        width:40px;
        height:40px;
        position:fixed;
        bottom:30px;
        right:40px;
        z-index: 999999;
        display: none;
        i 
        {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}