.title_product
{
    background: #0098d2;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
    &::before
    {
        position: absolute;
        content: "";
        width: 0;
        height:0;
        border-top: 47px solid transparent;
        border-left: 35px solid #0098d2;
        right: -35px;
        top: 0px;
    }
}
.list_products
{
    margin-top: 80px;
    margin-bottom: 80px;
    .viewport-img {
        position: relative;
        width: 100%;
        display: block;
        padding-top: 70%;
        overflow: hidden;
        transition: 0.4s;
    }
    
    .viewport-img img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
   .info_product
   {
        position: relative;
        overflow: hidden;
        margin-bottom: 24px;
        border-radius: 4px;
        .product_content
        {
            padding:10px;
            background: linear-gradient(
                hsl(0 0% 0% /0),
                hsl(20 0% 0% / 0.3) 20%,
                hsl(0 0% 0% / 1 )
            );
            color: #fff;
            position: absolute;
            transform: translateY(-27%);
            transition: .5s ease-in-out;
            .title_pro
            {
                text-transform: uppercase;
                width: max-content;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 10px;
            }
            p 
            {
                padding-bottom: 10px;
            }
            .read_more
            {
                float: right;
                padding-bottom: 20px;
                padding-top: 10px;
                a 
                {
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }
            
        }
        &:hover .product_content
        {
            transform: translateY(-100%);
            transition: .3s ease-in-out;
        }
   }
  
}
