$color_menu: #02185a;



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

.pt-50 
{
    padding-top: 50px;
}